<section class="page-section" id="about">
            <div class="container px-5 py-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">

                            <h1>log In</h1>

                            {{#if error}}
                                <p class="err-msg">Email or password is incorrect!</p>
                            {{/if}}

                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start mb-3">
                                <!-- Facebook Login-->
                                <a class="btn btn-primary btn-lg px-3 me-sm-3" style="background-color: #3b5998;" href="/auth/facebook" role="button"><i class="fab fa-facebook-f"></i> Log in with Facebook</a>
                                <!-- Google Login-->
                                <a class="btn btn-primary btn-lg px-3 me-sm-3" style="background-color: #dd4b39;" href="/auth/google" role="button"><i class="fab fa-google"></i> Log in with Google</a>
                            </div>


                            <form action="/login" method="post">
                                <div class="form-group mb-3">
                                    <label for="email">Email:</label>
                                    <input 
                                        type="text" 
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter your email"
                                        required
                                    />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Password:</label>
                                    <input 
                                        type="text" 
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        placeholder="Enter your password"
                                        required
                                    />
                                </div>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a type="submit" class="btn btn-success btn-lg px-5 me-sm-4 " href="#features">Login</a>
                                </div>
                            </form>


                            <p class="text-muted mt-3">Take the Healthy Eating Quiz and <a href="/signup">sign up</a> for free.</p>
                 
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://images.pexels.com/photos/1656666/pexels-photo-1656666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="..." /></div>
                </div>
            </div>
        </section>
